h1{
    border: 20px solid wheat;
    margin: 50px;
    text-align: center;
}
p{
    margin: 50px 60px;
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    font-family: fantasy;
    font-weight: lighter;
    border: 2px dotted black;

}